DELETE FROM \
AssayMeasurement\ WHERE \assayId\ IN (SELECT id FROM \Assay\ WHERE \jobCardId\ = 'b594456e-e816-4383-b704-66d4ee45fcaa'); DELETE FROM \Assay\ WHERE \jobCardId\ = 'b594456e-e816-4383-b704-66d4ee45fcaa'; DELETE FROM \Levy\ WHERE \invoiceId\ IN (SELECT id FROM \Invoice\ WHERE \jobCardId\ = 'b594456e-e816-4383-b704-66d4ee45fcaa'); DELETE FROM \Invoice\ WHERE \jobCardId\ = 'b594456e-e816-4383-b704-66d4ee45fcaa'; DELETE FROM \Fee\ WHERE \jobCardId\ = 'b594456e-e816-4383-b704-66d4ee45fcaa'; DELETE FROM \Levy\ WHERE \jobCardId\ = 'b594456e-e816-4383-b704-66d4ee45fcaa'; DELETE FROM \Seal\ WHERE \jobCardId\ = 'b594456e-e816-4383-b704-66d4ee45fcaa'; DELETE FROM \JobCard\ WHERE id = 'b594456e-e816-4383-b704-66d4ee45fcaa';
